[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "*", extras = ["all"]}
openai = "*"
python-dotenv = "*"
pydantic = "==1.*"
langchain = "*"
bs4 = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.11"
